<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="layout">
      <div class="header">Chat della partita</div>
      <div class="content">
        <div class="chat-message" *ngFor="let msg of messages">
          <div class="chat-message-header">
            <strong>{{ msg.user.name }}</strong>
            <span class="chat-time">{{ msg.date | date:'HH:mm' }}</span>
          </div>
          <div class="chat-message-text">{{ msg.text }}</div>
        </div>
      </div>
      <div class="chat-form">
        <form id="form-mess" (submit)="sendMessage($event)">
          <input
            type="text"
            id="messageInput"
            placeholder="Scrivi un messaggio" />
          <button type="submit" id="chat-button"><img id="send" src="assets/images/send.png" alt="submit"/></button>
        </form>
      </div>
    </div>
  </body>
</html>
