.game{
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  text-align: center;
}

.players-name{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 0 0 25%;
  width: 50%;
  min-width: initial !important;
  overflow: hidden !important;

}

.players-name > p{
  width: 25%;
  font-weight: bold;
}

.players-name > p:nth-child(even){
  border-bottom: solid 2.5px #f19a3e; /*f19a3e*/
}

.players-name > p:nth-child(odd){
  border-bottom: solid 2.5px #00a3f5; /*63CCCA*/
}

.first-selected{
  background-color: #00a3f5;
  color: black;
  border-radius: 4px;
  border: 1px solid #a8a8a8;
}

.second-selected{
  background-color: #f19a3e;
  color: black;
  border-radius: 4px;
  border: 1px solid #a8a8a8;
}

@media (min-width: 1290px){
  #table{  
    width: 40%;
    margin: 0 30% 0 30%;
  }
  .select-container{
    margin: 1% 30% 1%;
  }

  .hand{
    width: 94%;
    margin: 0 3% 0 3%; 
  }

  .hand-card {
    width: 7%;
  }
}

@media (min-width: 801px) and (max-width: 1289px){
  #table{  
    width: 60%;
    margin: 0 20% 0 20%;
  }
  .select-container{
    margin: 1% 8% 1%;
  }
  .normal-text{
    margin-top: 0;
  }
}


@media (min-width: 601px) and (max-width: 800px){
  #table{  
    width: 70%;
    margin: 0 15% 0 15%;
  }
  .select-container{
    margin: 1% 8% 1%;
  }
  .hand-card {
    width: 16.5%;
  }
  .hand{
    margin: 0 15%;
    width: 70%;
  }

  .normal-text{
    margin-top: 0;
  }


}

.game-text{
  margin: 0 0 1% 0;
  font-weight: bold;
  padding: 0;
}

@media (min-width: 516px) and (max-width: 600px){
  #table{  
    width: 80%;
    margin: 0 10%;
  }
  .select-container{
    margin: 1% 8% 1%;
  }
  .hand-card {
    width: 16.5%;
  }
  .hand{
    margin: 0;
  }

  .normal-text{
    margin-top: 0;
  }
}

@media (max-width: 515px){
  #table{  
    margin: 0 8% 0 8%;
  }
  .select-container{
    margin: 5% 8% 5%;
  }

  .hand-card {
    width: 16.5%;
  }
  .hand{
    margin: 0;
  }
}

#table{  
  background-color: #52AA5E;
  border-radius: 15px;
}

.game-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

#esci{
  --color: #E20000;
  margin-left: 2%;
}

#chat{
  --color: #FFB01F;

}

.game-button{
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  cursor: pointer;
  margin-right: 2%;
  margin-top: 2%;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 6px;
  position: relative;
}

.game-button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

.game-button:hover {
  color: black;
}

.game-button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.game-button:hover::before {
  top: -30px;
  left: -30px;
}


.normal-text{
  font-weight: bold;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #000000 !important;
}

/*the arrow of the select-option*/
::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #484848;
}

/*label of the select-option when focused*/
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #484848;
  font-weight: normal;
}

/*selected option in select-option*/
::ng-deep .mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #ff8400;
  font-weight: bold;
}


.custom-select {
  width: 40%; 
  border: 1px solid #ccc; 
  border-radius: 10px; 
  font-weight: bold;
  background-color: #FFB01F;
  color: black;
  padding-left: 1%;
  margin-right: 2%;
}

.select-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card{
  margin: 3% 1% 3% 0;
  border-radius: 10px;
  display: block;
  width: 100%;
  border: solid 1px #6c6c6c;
}

.cards-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 8% 0 8%;
  padding: 2% 0 2%;
}

.wrap {
  position: relative;
  display: inline-block;
  width: 20%;
  margin-top: 1%;
}

.player{
  padding: 2%;
  font-weight: bold;
  border-radius:  0 0 10px 10px;
  position: absolute;
  bottom: 1.5%;
  left: 0;
  width: 96%;
  text-align: center;
  border-color: #6c6c6c;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}

.cards-container .wrap:nth-child(even) .player{
  background-color: #f19a3e;
  color: black;
}

.cards-container .wrap:nth-child(odd) .player{
  background-color:#00a3f5;
  color: black;
}



.hand-card {
  margin: 1%;
  border-radius: 10px;
  border: solid 1px #9c9b9b;
}
