<div
  class="container login-container"
  fxLayout="row"
  fxLayoutAlign="center center">
  <form [formGroup]="registerForm" >
    <mat-card class="auth-card">
      <mat-card-title class="auth-title register-title">{{ this.name }}</mat-card-title>
      <mat-card-subtitle class="subtitle">Registrati</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field class="full-width register">
          <input
            id="emailInput"
            matInput
            placeholder="Email"
            formControlName="email"
            autocomplete="email"
            class="register-input"
            type="email" />

          <mat-error
            id="invalidEmailError"
            *ngIf="registerForm.controls['email'].hasError('email')">
            Inserisci un indirizzo email valido, non ti disturberemo...
          </mat-error>
          <mat-error
            id="requiredEmailError"
            *ngIf="registerForm.controls['email'].hasError('required')">
            Email è
            <strong>necessaria</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width register">
          <input
            id="nicknameInput"
            matInput
            placeholder="Nome utente"
            formControlName="nickname"
            autocomplete="name"
            class="register-input"
            type="text" />

          <!-- <mat-error
            id="invalidEmailError"
            *ngIf="registerForm.controls['email'].hasError('email')">
            Please enter a valid email address
          </mat-error> -->
          <mat-error
            id="requiredNicknameError"
            *ngIf="registerForm.controls['nickname'].hasError('required')">
            Un nome utente è
            <strong>necessario</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width register">
          <input
            id="passwordInput"
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
            class="register-input"
            autocomplete="current-password" />
          <mat-error
            id="requiredPasswordError"
            *ngIf="registerForm.controls['email'].hasError('required')">
            Password è
            <strong>necessaria</strong>
          </mat-error>
        </mat-form-field>

      </mat-card-content>

      <mat-card-actions class="login-actions">
         <!-- [disabled]="registerForm.invalid || loading" -->
        <button
        mat-button
          id="register-button"
          [disabled]="registerForm.invalid || loading"
          (click)="register()">
          Registrati
        </button>
        <button
          mat-button
          id="guestLogin"
          class="normal-link"
          (click)="guestAccess()"
          type="button">
          Entra come ospite
        </button>
        <button
          mat-button
          id="LoginBtn"
          (click)="loginUser()"
          type="button">
          Login
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
