<div
  class="container login-container"
  fxLayout="row"
  fxLayoutAlign="center center">
  <form [formGroup]="registerForm" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
    <mat-card>
      <mat-card-title>{{ this.name }}</mat-card-title>
      <mat-card-subtitle>Registrati</mat-card-subtitle>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            id="emailInput"
            matInput
            placeholder="Email"
            formControlName="email"
            autocomplete="email"
            type="email" />

          <mat-error
            id="invalidEmailError"
            *ngIf="registerForm.controls['email'].hasError('email')">
            Inserisci un indirizzo email valido, non ti disturberemo...
          </mat-error>
          <mat-error
            id="requiredEmailError"
            *ngIf="registerForm.controls['email'].hasError('required')">
            Email e'
            <strong>necessaria</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            id="nicknameInput"
            matInput
            placeholder="Nome utente"
            formControlName="nickname"
            autocomplete="name"
            type="text" />

          <!-- <mat-error
            id="invalidEmailError"
            *ngIf="registerForm.controls['email'].hasError('email')">
            Please enter a valid email address
          </mat-error> -->
          <mat-error
            id="requiredNicknameError"
            *ngIf="registerForm.controls['nickname'].hasError('required')">
            Un nome utente e'
            <strong>necessario</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            id="passwordInput"
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
            autocomplete="current-password" />
          <mat-error
            id="requiredPasswordError"
            *ngIf="registerForm.controls['email'].hasError('required')">
            Password e'
            <strong>necessaria</strong>
          </mat-error>
        </mat-form-field>

        <div class="full-width">
          <mat-slide-toggle formControlName="rememberMe"
            >Remember my email address</mat-slide-toggle
          >
        </div>
      </mat-card-content>

      <mat-card-actions class="login-actions">
        <button
          mat-raised-button
          id="register"
          color="primary"
          [disabled]="registerForm.invalid || loading"
          (click)="register()">
          Registrati
        </button>
        <!-- <button
          mat-button
          id="resetPassword"
          (click)="resetPassword()"
          type="button">
          Reset Password
        </button> -->
        <!-- <button
          mat-button
          id="guestLogin"
          (click)="guestAccess()"
          type="button">
          Enter as a guest
        </button> -->
      </mat-card-actions>
    </mat-card>

    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  </form>
</div>
