<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
      <!-- <p>waiting-room-component works!</p> -->
        <button mat-raised-button color="primary" class="btn btn-danger btn-block mb-2" (click)="leaveWaitingRoom()">Esci</button>
          <div class="alert alert-primary">
          <p><strong>Partita ai:</strong> 
            <!-- {{activeGame.gameSetup.playUntilPoints}} -->
          </p>
          <p><strong>giocatori:</strong>
             <!-- {{activeGame.gameSetup.expectedNumberOfPlayers}} -->
            </p>
          <!-- <p *ngIf="activeGame.gameSetup.expectedNumberOfPlayers===4"> -->
          <p>
            Il primo giocatore della lista gioca con il terzo
            contro il secondo e il quarto. Inizia a fare le briscole il 4 di denari</p>
          <!-- <form *ngIf="activeGame.players[0].user.connectionId===currentUser.connectionId"> -->
          <form>
            <div class="form-group row">
              <label for="password" class="col-3 col-sm-1 col-form-label"><strong>Password:</strong> </label>
              <div class="col-5 col-sm-4">
                <input type="text" class="form-control" id="password" placeholder="(Optional)">
              </div>
              <div class="col-4 col-sm-2">
                <button mat-raised-button color="primary" class="btn btn-danger btn-block mb-2" (click)="leaveWaitingRoom()">Esci</button>
                <button class="btn btn-primary btn-block text-nowrap" (click)="setRoomPassword()">Imposta</button>
              </div>
            </div>
          </form>
        </div>
        <!-- <button class="btn btn-primary my-3 play-button-pulse"
          *ngIf="userIsSpectator() && activeGame.players.length<activeGame.gameSetup.expectedNumberOfPlayers"
          (click)="joinGame()">Gioca</button> -->
        <button class="btn btn-primary my-3 play-button-pulse" (click)="joinGame()">Partecipa(join)</button>
        <h3>
          <!-- <span class="text-danger" [hidden]="activeGame.players.length===activeGame.gameSetup.expectedNumberOfPlayers"> In attesa di altri {{activeGame.gameSetup.expectedNumberOfPlayers - activeGame.players.length}} giocatori</span> -->
          <span class="text-danger" > In attesa di altri giocatori</span>
          <!-- <span class="text-success" [hidden]="activeGame.players.length!==activeGame.gameSetup.expectedNumberOfPlayers"> -->
          <span class="text-success" >
            Ci siamo tutti. La partita può iniziare!
          </span>
        </h3>
        <!-- TODO - lista giocatori -->
        <!-- <ol>
          <li *ngFor="let player of activeGame.players">
            {{player.user.name}}
            <strong *ngIf="currentUser.connectionId===activeGame.players[0].user.connectionId && currentUser.connectionId!==player.user.connectionId" class="ml-2 text-danger cursor-pointer" (click)="kickPlayerFromGame(player);">[Elimina]</strong>
          </li>
        </ol> -->
        <!-- <button [disabled]="activeGame.players.length!==activeGame.gameSetup.expectedNumberOfPlayers" *ngIf="activeGame.players[0].user.connectionId===currentUser.connectionId" class="btn btn-success" (click)="startGame()">Inizia la partita!</button>  -->
        <button class="btn btn-success" (click)="startGame()">Inizia la partita!</button> 
  </div>
</div>